
form {
    margin: auto;
    text-align: center;
    background-color: aqua;
    width: 400px;
}

form input {
    background-color: aqua;
}

.buttonClass_1 {
    border: none;
    background-color: aqua;
}
